<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Course Selector</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="../static/css/default.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/tabs.css"/>
    <script src = "../static/js/jquery.js"></script>
    <style>
        ::-webkit-input-placeholder { font-size: 11px;text-align: center }
        ::-moz-placeholder { font-size: 11px;text-align: center  } /* firefox 19+ */
        :-ms-input-placeholder { font-size: 11px; text-align: center } /* ie */
        input:-moz-placeholder { font-size: 11px;text-align: center  }
    </style>
    <script src="../static/js/media/js/jquery.js"></script>
    <script src="../static/js/media/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/jquery.dataTables.css"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>

<div class="codrops-top">
    <div style="text-align: right;padding-right: 10px;"><label id="username">{{username|safe}}</label><a href="{{url_for('logout',filename='index.html')}}">Logout </a></div>
</div>
    </div>

<div class="container">
    <header >
        <h1> <strong>Course Selector</strong></h1>
        <h2>A tool to help you select your courses</h2>
    </header>
</div>

<!--<div class="tabs">-->



<form class="register"  style="overflow-y:auto;height: 500px">
    <ul class="tab-links">


        <li class="active"><a href="{{url_for('home')}}">Home</a></li>
        <li><a href="{{url_for('feedback')}}">Feedback</a></li>
        <li><a href="{{url_for('planner')}}">Our Recommendation</a></li>
        </ul>

    <div class="tab-content">
            <div id="home" class="tab active">
    {% for stud in studentDtls %}
    <label class="heading1" style="width: 100%;text-align: center">Welcome {{stud.name|safe}}</label>



    <fieldset class="row2" >
        <legend style="font-size: 20px">Your Profile
        </legend>
        <p>
            <label style="width: 120px">Degree :
            </label>

            <label style="width: 200px;text-align: left">{{stud.degree|capitalize}}
            </label>
        </p>

        <p>
            <label style="width: 120px">Major :
            </label>

            <label style="width: 200px;text-align: left">{{stud.major|safe}}
            </label>
        </p>

        <p>
            <label style="width: 120px">Academic Year :
            </label>

            <label style="width: 200px;text-align: left">{{stud.ay|safe}}
            </label>
        </p>
        {% endfor %}
        <p>
                    <label style="width: 120px">Interested in :
                    </label>
                    {% for interest in interests %}
                    <label style="width:100px;text-align: left;">{{interest.tag|capitalize}}
                    </label>
                    {% endfor %}
                </p>


                

                    
                    

                


                
         </fieldset>
        <fieldset class="row3">
        <legend style="font-size: 20px">Courses Taken
        </legend>
        <input type="button" id = "edit" value="Add course"/>
        <div class>
            <table id="courseTable">

                <thead>
                <tr><td>Courses Name</td>
                    <td>Semester</td>
                    <td>Action</td>
                </tr>
                </thead>
                
                <tbody>
                {% for course in courses %}
                        <tr><td>{{course.name|safe}}</td>
                            <td>{{course.semester|safe}}</td>
                            <td><img src="../static/images/delete-24.jpg" alt="Click to delete course" class="deleteBtn"/></td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </fieldset>


                </div>
            </div>

</form>

    <!--</div>-->

</body>

</html>


<script type="text/javascript">


    function addToBox(){
        var course = document.getElementById("courses").value
        existingC = document.getElementById("courseSelected").value
        //alert(existingC)
        if (! existingC == "") {
            if (!checkifAlreadyAdded(existingC, course)) {
                existingC = existingC + course + "\n";
                document.getElementById("courseSelected").value = existingC
            }

            else
                alert("This course has been added already")
        }else {
            existingC = existingC + course + "\n";
            document.getElementById("courseSelected").value = existingC
        }
    }

    var courseName = ""
    var courseCode = ""
    var sem = ""
    function addVal(obj,id,ob){
        courseName = obj;
        courseCode = id


    }
    function addValSem(obj,ob){
        sem=obj


    }
    function Add() {

        var t = $('#courseTable').DataTable();

        t.row.add([
                     "<select class='ccourse' id='courses' style='width: 400px;' name = 'course' onchange='addVal(this.options[this.selectedIndex].innerHTML,this.options[this.selectedIndex].id,this)'>{% for course in allcourses %}<option id='{{ course.code }}' value='{{course.name}}'>{{ course.name|safe }}</option>{% endfor %}</select>",
                      "<select id='sem' name='semester' onchange='addValSem(this.options[this.selectedIndex].innerHTML,this)'><option value='Fall 2014' selected>Fall 2014</option><option value='Spring 2015'>Spring 2015</option></select>",
                      "<input type = 'button' value ='Save' id='doneBtn'>"

        ]).draw();
        var i = document.getElementById("courses");
         courseName = i.options[i.selectedIndex].value;
         courseCode = i.options[i.selectedIndex].id;
        var p = document.getElementById("sem");
        sem = p.options[p.selectedIndex].value;
       // alert(sem)
        jQuery("#doneBtn").bind("click", Save);


       /* jQuery("#courseTable tbody").append( "<tr>"+ "<td><select class='ccourse' id='courses' style='width: 400px;' name = 'course' onchange='addVal(this.options[this.selectedIndex].innerHTML,this.options[this.selectedIndex].id,this)'>{% for course in allcourses %}<option id='{{ course.code }}' value='{{course.name}}'>{{ course.name|safe }}</option>{% endfor %}</select></td>"+ "<td><select name='semester' onchange='addValSem(this.options[this.selectedIndex].innerHTML,this)'><option value='Fall 2014' selected>Fall 2014</option><option value='Spring 2015'>Spring 2015</option></select></td>"+ "<td><input type = 'button' value ='Save' id='doneBtn'> </td>"+ "</tr>");
        jQuery("#doneBtn").bind("click", Save);
        jQuery("#courses").on('change', function () {
            alert('hi')
            alert(jQuery(this).val());
        });*/

    }

    function Delete(){
        var par = $(this).parent().parent(); //tr
        var cellName = $(this).parent().siblings().eq(0).text()
        var cellID = cellName.substring(0,7)
      //  alert(cellName +':'+ cellID)

        r = confirm("Are you sure you want to remove this course?")
        if (r) {
        jsonObj = {code:cellID}
        jQuery.getJSON('/homepage',jsonObj,function(data) {
            var a  = data.msg
            if(a == "success")
                location.reload();
        });



           // par.remove();

        }

    }
    
    function Save(){

        //alert(courseName+sem)
        jsonObj = {courseName:courseName,semester:sem,courseCode:courseCode}
        jQuery.getJSON('/homepage',jsonObj,function(data) {


            var a  = data.msg
            if(a == "success")
            location.reload();
        });


    }

    jQuery(function(){
        jQuery("#edit").bind("click", Add);
        jQuery(".deleteBtn").bind("click",Delete);
        jQuery(".doneBtn").bind("click", Save);
    });


     jQuery(document).ready(function() {
    jQuery('#courseTable').DataTable({
        "searching" : false,
        "lengthChange": false,
        "pageLength": 6
    })
    } );
</script>




